<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mockvue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Instructions.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        </head>
    </head>
    <body>
        <div class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='Mockvue_logo.png') }}" alt="Logo">
            </div>
            <div class="rectangle"></div>
            <div class="links">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-link" onclick="location.href='{{ url_for('home') }}#section4'">About</a>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="hidden_ins">                    
                <p class="section_title">INSTRUCTIONS</p>
                <p class="section_text">Look straight at the camera</p>
                <p class="section_text">Make sure you are in a well lit environment</p>
                <p class="section_text">Make sure there is no background noise</p>
                <p class="section_text">Speak with clarity</p>
                <p class="section_text">Before answering every question, use the phrase "for this question"</p>
                <p class="section_text">You will have total of 10 questions</p>
                <p class="section_text">You will have total of 10 minutes to answer all questions</p>
                <a href="{{ url_for('Video_Test') }}" class="btn">PROCEED</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static',filename='script/Instructions.js') }}"></script>
    </body>
</html>