<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mockvue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Video_Test.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        
        </head>
    </head>
    <body>
        <div class="navbar">
            <div class="links">
                <a class="nav-link" href="{{ url_for('home') }}">< QUIT</a>
            </div>
            <div class="rectangle"></div>
            <div class="logo">
                <img src="{{ url_for('static', filename='Mockvue_logo.png') }}" alt="Logo">
            </div>
        </div>


        
        <div class="section" id="section1">
        <div id="timer-container">
            <div id="timer"></div>
        </div>
            <h1 id="question"></h1>
            <img id="video-stream" src="" width="25%"/>
            <div id="video_buttons">
            <button class="video_icons btn" id="start-record">Start Recording</button>
<!--            <button class="video_icons" id="stop-record">Stop Recording</button>     --> 
            <button class="video_icons btn" id="next">Next Question</button>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static',filename='script/Video_Test.js') }}"></script>
    </body>
</html>
